<article class="product">
<% if product.quantity == 0 %>
  <span class="sold-out">SOLD OUT!</span>
  <% end %>
  <header>
    <%= link_to product do %>
      <% if product.image.present? %>
        <%= image_tag product.image.thumb.url, alt: product.name %>
      <% else %>
        <div class="product-placeholder">
          <span>No Image</span>
        </div>
      <% end %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
  <% if product.quantity == 0 %>
    <%= button_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', disabled: true, method: :post do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details
    <% end %>
    <% else %>
    <%= button_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', disabled: false, method: :post do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details
    <% end %>
  <% end %>  
  </footer>
  
  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
