<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <% if @product.image_filename.present? %>
          <img src="<%= @product.image_url %>" class="main-img" alt="<%= @product.name %>">
        <% else %>
          <div class="product-placeholder" style="width: 100%; height: 300px;">
            <span>No Image Available</span>
          </div>
        <% end %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>

</section>
