<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jungle</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Home', :root %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Categories
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
              <li><%= link_to category.name, category %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to 'About', about_index_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
          <a href="#" class="dropdown-toggle admin-dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background: linear-gradient(135deg, #10b981, #059669); color: white; border-radius: 20px; padding: 8px 16px; margin: 8px 4px; font-weight: 600;">
            <%= fa_icon 'cog' %> Admin Demo
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to (fa_icon('dashboard', text: ' Dashboard')).html_safe, [:admin, :root] %></li>
            <li><%= link_to (fa_icon('cubes', text: ' Products (Try Me!)')).html_safe,  [:admin, :products] %></li>
            <li><%= link_to (fa_icon('tags', text: ' Categories')).html_safe,  [:admin, :categories] %></li>
          </ul>
        </li>
        <li>
          <%= link_to cart_path do %>
            <%= fa_icon "shopping-cart" %> My Cart (<%= cart.size %>)
          <% end %>
        </li>
        <li>
        <% if current_user %>
          <%= link_to current_user.first_name + ' | Logout', '/logout'%>
        <% else %>
          <%= link_to 'Login', '/login' %>
        <% end %>
        </li>
        <li>
          <%= link_to 'Signup', '/signup' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
